<div *ngIf="groupConfig.length == 0" class="row">
  <div [class]="field.Width" *ngFor="let field of formFieldList;">

    <div class="form-group row">
      <label for="field.FieldName" class="text-right col-form-label">{{ field.Title }}</label>
      <div [class]="field.Width2">
        <input type="text" readonly class="form-control" [name]="field.FieldName" [value]="field.Default">
      </div>
    </div>

  </div>
</div>

<div *ngIf="groupConfig.length > 0">
  <div *ngFor="let group of groupConfig;" class="row" style="border-bottom: 1px solid #00abff;height: 35px;">
    <div class="col-md-2 text-right" style="background-color:#dce9f9;font-size: 110%;">
      <span style="display: inline-block;margin-top: 8px;">{{group.group}}</span>
    </div>

    <div class="form-group row">
      <label for="field.FieldName" class="text-right col-form-label">{{ field.Title }}</label>
      <div [class]="field.Width2">
        <input type="text" readonly class="form-control" [name]="field.FieldName" [value]="field.Default">
      </div>
    </div>

  </div>
</div>
