<div class="row">
    <div class="col-md-12">
        <ng2-toasty></ng2-toasty>
        <ba-card [title]="title" class="card-primary" baCardClass="with-scroll">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">客人姓名</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="checkIn.cusname" type="text" class="form-control" id="inputName" placeholder="输入客人姓名">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputId" class="col-sm-2 col-form-label">身份证号</label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="checkIn.idCard" type="text" class="form-control" id="inputId" placeholder="输入身份证号">
                        </div>
                        <div class="btn-group margin8 col-sm-1" role="group" aria-label="Basic example">
                            <button (click)="readCard()" type="button" class="btn btn-success btn-sm">
                <i class="fa fa-refresh" aria-hidden="true"></i> 读取身份证信息</button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputMobile" class="col-sm-2 col-form-label">电话号码</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="checkIn.cusphone" type="text" class="form-control" id="inputMobile" placeholder="输入电话号码">
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group row">
                        <label for="inputId" class="col-sm-1 col-form-label">入住方式</label>
                        <div style="margin-top:4px;" class="col-sm-5">
                            <div *ngFor="let ct of checkinType" class="form-check form-check-inline">
                                <label class="form-check-label">
                  <input [(ngModel)]="checkIn.inType" class="form-check-input" type="radio" name="inlineRadioOptions" [value]="ct.name"> {{ct.name}}
                </label>
                            </div>
                        </div>
                        <label for="inputId" class="col-sm-1 col-form-label">客源</label>
                        <div style="margin-top:4px;" class="col-sm-5">
                            <div *ngFor="let ct of comeType" class="form-check form-check-inline">
                                <label class="form-check-label">
                  <input [(ngModel)]="checkIn.comeType" class="form-check-input" type="radio" name="inlineRadioComeType" [value]="ct.id"> {{ct.name}}
                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-legend col-sm-1">房间信息</legend>

                            <div class="col-sm-11">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button placement="right" (shown)="showPop()" [ngbPopover]="popContent" popoverTitle="房间信息列表" type="button" class="btn btn-success btn-sm" container="body">
                    <i class="fa fa-refresh" aria-hidden="true"></i> 选择房间</button>
                                </div>

                                <ng2-smart-table [settings]="settingsHouse" [source]="selectedGrid" (editConfirm)="onSaveConfirm($event)" (userRowSelect)="onUserRowSelect($event)" (createConfirm)="onCreateConfirm($event)">
                                </ng2-smart-table>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">合计房费</label>
                                <div>
                                    <input type="text" [(ngModel)]="checkIn.houseFee" (keydown)="onKeyPress($event)" class="form-control" id="inputhousefee">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5" style="margin-left:15px;">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label">预收押金</label>
                                <div>
                                    <input type="text" [(ngModel)]="checkIn.prereceivefee" (keydown)="onKeyPress($event)" class="form-control" id="inputprefee">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">支付方式</label>
                                <div style="margin-top:4px;" *ngFor="let pt of paytype" class="form-check form-check-inline">
                                    <label class="form-check-label">
                    <input [(ngModel)]="checkIn.payType" class="form-check-input" type="radio" name="inlineRadioOptionspay" [value]="pt.id"> {{pt.name}}
                  </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label">单据号/授权码</label>
                                <div style="margin-left:15px;">
                                    <input type="text" [(ngModel)]="checkIn.billNo" class="form-control" id="inputbillno">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group row">
                        <label for="inputremark" class="col-sm-2 col-form-label">备注</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="checkIn.remark" type="text" class="form-control" id="inputremark" placeholder="输入备注信息">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 offset-sm-2 btn-group">
                            <button type="button" [disabled]="isSaved" (click)="onConfirm()" class="btn btn-info">{{ isSaved ? '正在保存...':'确认入住'}}</button>
                        </div>
                    </div>
                </div>
            </div>


            <ng-template #popContent>
                <search-input (searchClick)="onSearch($event)"></search-input>
                <div class="btn-group margin8 pull-right" role="group" aria-label="Basic example">
                    <button *ngFor="let hs of houseType;" (click)="onSelectHouseType(hs.id)" type="button" class="btn {{hs.color}} btn-sm">
            <i class="fa {{hs.icon}}" aria-hidden="true"></i> {{hs.type}}
            <span class="badge badge-danger">{{ hs.count }}</span>
          </button>
                </div>
                <ng2-smart-table [settings]="settings" [source]="popGrid" (userRowSelect)="rowClicked($event)">
                </ng2-smart-table>
            </ng-template>

        </ba-card>
    </div>
</div>