<div class="row">
  <div class="col-md-12">
    <ng2-toasty></ng2-toasty>
    <ba-card [title]="title" class="card-primary" baCardClass="with-scroll">

      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label for="inputId" class="col-md-3 col-form-label">出库类型</label>
            <div style="margin-top:4px;" class="col-md-9">
              <div *ngFor="let ct of outType" class="form-check form-check-inline">
                <label class="form-check-label">
                  <input [(ngModel)]="storeOut.typeId" class="form-check-input" type="radio" name="inTypeRadioOptions" [value]="ct.id"> {{ct.name}}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label for="inputId" class="col-md-3 col-form-label">仓库</label>
            <div style="margin-top:4px;" class="col-md-9">
              <div *ngFor="let ct of stores" class="form-check form-check-inline">
                <label class="form-check-label">
                  <input [(ngModel)]="storeOut.storeId" (click)="onStoreClick($event)" class="form-check-input" type="radio" name="storeCodeRadioOptions" [value]="ct.id"> {{ct.name}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label for="inputId" class="col-md-3 col-form-label">日期</label>
            <div class="input-group col-md-9">
              <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="storeOut.outTimeNg" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-addon" (click)="d.toggle()">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label for="inputremark" class="col-md-3 col-form-label">出库单号</label>
            <div class="col-md-9">
              <input [(ngModel)]="storeOut.orderNo" type="text" class="form-control" placeholder="输入出库单号">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label for="inputId" class="col-md-3 col-form-label">领料部门</label>
            <div class="input-group col-md-9" style="height:32px;">
                <ss-multiselect-dropdown [settings]="mySettings" [texts]="myTexts" [options]="myOptions" [(ngModel)]="storeOut.orgidNg" (ngModelChange)="onChangeOrg($event)"></ss-multiselect-dropdown>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label for="inputId" class="col-md-3 col-form-label">领料人</label>
            <div class="col-md-9">
                <ss-multiselect-dropdown [settings]="mySettingsOper" [texts]="myTexts" [options]="myOptionsOper" [(ngModel)]="storeOut.operator"></ss-multiselect-dropdown>
              <!-- <select [(ngModel)]="storeOut.operator">
                <option value="">--请选择--</option>
                <option [value]="option.id" *ngFor="let option of operatorList">
                  {{ option.name }}
                </option>
              </select> -->
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-legend col-md-1">产品信息</legend>

              <div class="col-md-11">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button placement="right" [disabled] ="!checkedStoreId" (shown)="showPop()" #p="ngbPopover" [ngbPopover]="popContent" popoverTitle="产品信息列表" type="button" class="btn btn-success btn-sm"
                    container="body">
                    <i class="fa fa-refresh" aria-hidden="true"></i> 选择产品</button>
                </div>

                <ng2-smart-table [settings]="settingsGoods" [source]="selectedGrid" (editConfirm)="onEditConfirm($event)"  (deleteConfirm)="onDeleteConfirm($event)"  (userRowSelect)="onUserRowSelect($event)"
                  (createConfirm)="onCreateConfirm($event)">
                </ng2-smart-table>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label for="inputremark" class="col-md-3 col-form-label">合计金额</label>
            <div class="col-md-9">
              <input [(ngModel)]="storeOut.amount" (keydown)="onKeyPress($event)" type="text" class="form-control" placeholder="输入备注信息">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label for="inputremark" class="col-md-3 col-form-label">备注</label>
            <div class="col-md-9">
              <input [(ngModel)]="storeOut.remark" type="text" class="form-control" placeholder="输入备注信息">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <div class="col-md-9 offset-md-3 btn-group">
              <button type="button" [disabled]="isEnable" (click)="onConfirm()" class="btn btn-info">{{ isSaved ? '正在保存...':'确认出库'}}</button>
              <button type="button" (click)="onBack()" class="btn btn-warning">返回列表</button>
            </div>
          </div>
        </div>
      </div>

      <ng-template #popContent>
        <a href="javascrpit:void(0)" class="close" (click)='p.close()' aria-hidden="true">&times;</a>
        <search-input (searchClick)="onSearch($event)"></search-input>
        <div class="form-group row">
          <label for="inputId" class="col-md-2 col-form-label">类别</label>
          <div class="col-md-6">
            <select (change)="onChange($event)">
              <option value="">--请选择--</option>
              <option [value]="option.id" *ngFor="let option of goodsType">
                {{ option.name }}
              </option>
            </select>
          </div>
        </div>
        <ng2-smart-table [settings]="settings" [source]="popGrid" (edit)="onEditConfirm($event)" (userRowSelect)="rowClicked($event)">
        </ng2-smart-table>
      </ng-template>

    </ba-card>
  </div>
</div>
