.vertical-scroll {
    border: 1px;
    border-color: black;
}

// .selectedcolor {
//     background-color: #EEE685;
// }
.table-striped thead tr th {
    background-color: #E0EEEE;
    font-size: 15px;
}

.readonly {
    background-color: #eceeef;
    color: rgba(27, 31, 35, 0.85);
}