<div class="row">
    <div class="col-md-12">
        <ng2-toasty></ng2-toasty>
        <ba-card title="支付方式" baCardClass="with-scroll">
            <div class="btn-group margin8 pull-right" role="group" aria-label="Basic example">
                <button (click)="newHouse()" type="button" class="btn btn-info btn-sm">
          <i class="fa fa-refresh" aria-hidden="true"></i> 新增支付方式</button>
            </div>
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
            <ng2-smart-table [settings]="settings" [source]="source" (edit)="onEdit($event)" (delete)="onDelete($event)"></ng2-smart-table>
        </ba-card>
    </div>
</div>