.vertical-scroll {
  border: 1px;
  border-color: black;
}

.form-control {
  &:focus {
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.12);
    border-color: orange;
  }
}

.selectedcolor {
  background-color: #EEE685;
}

.table-striped thead tr th {
  background-color: #E0EEEE;
  font-size: 15px;
}

.col-form-legend {
  font-size: 13px;
}

.popover {
  max-width: 500px !important;
}

.popover-content {
  width: 500px !important;
}

.form-control[disabled] {
  color: grey;
}

.card-primary .col-md-3 {
  max-width: 18%;
  padding-right: 0px;
}
.card-primary .col-md-1 {
  max-width: 6.3%;
}
.card-primary .offset-md-3 {
   margin-left: 18%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: .01px;
  text-overflow: '';
  overflow: hidden;
  font-family: inherit;
  font-size: 14px;
  padding: 10px 12px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  outline: none; //background: linear-gradient(45deg, transparent 50%, rgba(0, 0, 0, 0.7) 50%) no-repeat calc(100% - 20px) calc(1em + 4px), linear-gradient(135deg, rgba(0, 0, 0, 0.7) 50%, transparent 50%) no-repeat calc(100% - 15px) calc(1em + 4px);
  background-size: 5px 5px, 5px 5px;
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
}

@import "../../../../theme/sass/conf/conf";
:host /deep/ .widgets {
  .smart-table-container {
    width: 100%;
  }
}

:host /deep/ {
  .card-body {
    padding-left: 20px;
  }
  ng2-smart-table {
    th,
    td {
      // border: 1px solid $border-light !important;
      line-height: 25px;
      vertical-align: middle;
    }
    .tablebutton {
      line-height: 20px !important;
    }
    table tr td {
      padding: 0 8px;
    }
    color: $default-text;
    input {
      line-height: 1.3 !important;
    }
    ng2-smart-table-cell {
      color: $default-text;
      line-height: 31px;
    }
    tbody {
      tr {
        color: $default-text;
      }
      tr:hover {
        background: rgba(0, 0, 0, 0.03);
      }
    }
    a.ng2-smart-sort-link {
      font-size: 14px !important;
      font-weight: $font-bolder;
      &.sort {
        font-weight: $font-bolder !important;
        &::after {
          border-bottom-color: $default-text !important;
        }
      }
    }
    .ng2-smart-actions {
      width: 70px;
      text-align: center;
      .actions {
        float: none;
        text-align: center;
      }
    }
    .ng2-smart-actions-title-add {
      text-align: center;
    }
    a.ng2-smart-action,
    .ng2-smart-title {
      font-size: 14px !important; //   color: $default-text;
      padding: 0 5px;
      display: inline-block;
      &.ng2-smart-action-add-add {
        font-size: 25px !important;
      }
    }
    .ng2-smart-filters th {
      padding: 2px 3px;
    }
    .ng2-smart-titles th {
      padding: 5px;
      font-size: 120%;
    }
    nav.ng2-smart-pagination-nav {
      display: flex;
      justify-content: center;
    }
    .filterInputClass {
      width: 100px;
    }
    .searchCol3 {
      padding-left: 0 !important;
    }
    .searchInputgroup {
      margin-bottom: 0 !important;
    }
    ng2-st-thead-form-row td {
      padding: 0;
    }
    table tr:hover {
      background-color: #fbf8e9;
      transition: all 0.1s ease-in-out;
    }
    table th,
    table td {
      border-left: 1px solid #ccc;
      border-top: 1px solid #ccc;
      padding: 10px;
      text-align: left;
    }
    table thead tr:first-child th {
      background-color: #dce9f9;
      border-top: none;
    }
    table thead tr:nth-child(2) th {
      border: none;
    }
    table td:first-child,
    table th:first-child {
      border-left: none;
    }
    table th:first-child {
      border-radius: 6px 0 0 0;
    }
    table th:last-child {
      border-radius: 0 6px 0 0;
    }
    table tr:last-child td:first-child {
      border-radius: 0 0 0 6px;
    }
    table tr:last-child td:last-child {
      border-radius: 0 0 6px 0;
    }
    table {
      border: 1px solid #ccc;
      border-radius: 6px;
      box-shadow: 0 1px 1px #ccc;
    }
  }
}
