<form #form="ngForm">
  <div class="row">
    <div [class]="field.width" *ngFor="let field of config;">

      <div class="form-group row">
        <label for="field.name" class="text-right col-md-3 col-form-label">{{ field.label }}</label>
        <div *ngIf="field.type == 'input'" class="col-md-8">
          <input type="text" class="form-control" [name]="field.name" [(ngModel)]="field.value">
        </div>

        <div *ngIf="field.type == 'datepicker'" class="form-group col-md-8">
          <div class="input-group">
            <input [(ngModel)]="field.value" class="form-control" placeholder="yyyy-mm-dd" [name]="field.name"
              ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-addon" (click)="d.toggle()">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
            <input *ngIf="field.time" (change)="onChange($event)" type="time" style="border:1px solid rgba(0, 0, 0, 0.1)"
              [value]="field.time" />
          </div>
        </div>

        <div *ngIf="field.type == 'select'" class="col-md-8">
          <select [name]="field.name">
            <option selected style="display:none" value="">{{ field.placeholder }}</option>
            <option [value]="option.id" *ngFor="let option of field.options">
              {{ option.text }}
            </option>
          </select>
        </div>

        <span style='color:red' class="col-md-1" *ngIf="field.validation">*</span>
      </div>

    </div>
  </div>
</form>
<button *ngIf="canUpdate" type="button" (click)="update(form.value)" class="btn btn-info btn-sm">
  <i class="fa fa-pencil" aria-hidden="true"></i>修改{{title}}
</button>
