<div class="row">
  <div class="col-md-12">
    <ba-card [title]="title" class="card-primary" baCardClass="with-scroll">
      <div style="margin-bottom: 5px;">
        <div class="row">
          <div class="col-3">
            <search-input (searchClick)="onSearch($event)"></search-input>
          </div>
          <div class="col-1">
            <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
              aria-controls="collapseExample">
              高级查询
            </a>
          </div>

          <div class="col-8">
            <div class="btn-group pull-right margin8" role="group" aria-label="Basic example">
              <button (click)="getDataList()" type="button" class="btn btn-info btn-sm">
                <i class="fa fa-refresh" aria-hidden="true"></i> 刷新</button>
            </div>
            <div class="btn-group pull-right margin8" role="group" aria-label="Basic example">
              <button (click)="onExport()" type="button" class="btn btn-info btn-sm">
                <i class="fa fa-file-excel-o" aria-hidden="true"></i> 导出Excel</button>
            </div>
            <div class="btn-group pull-right margin8" role="group" aria-label="Basic example">
              <button (click)="onCreate()" type="button" class="btn btn-info btn-sm">
                <i class="fa fa-pencil" aria-hidden="true"></i> 新增预订单</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <app-search-form [formView]="searchview" (searchClick)="onSearchAll($event)"></app-search-form>
              </div>
            </div>
          </div>
        </div>

        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
        <div class="test-1" style="overflow-x:auto;width: 100%;white-space: nowrap;">
          <ng2-smart-table [settings]="newSettings" [source]="source" (rowSelect)="onSelected($event)" (save)="onSave($event)"
            (edit)="onEdit($event)" (delete)="onDelete($event)">
          </ng2-smart-table>
          <div style="color: blue;" [class.total]="totalRecord > 10">总记录：{{totalRecord}}</div>
        </div>
      </div>

      <ngb-tabset>
        <ngb-tab *ngFor="let view of subViewName" [title]="view.Title">
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col-md-12">
                <app-show-form [formView]="view" [mainTableID]="mainTableID"></app-show-form>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </ba-card>
  </div>
</div>

<div style="display:none" id="printDiv">
  <div *ngFor="let pagename of printSet" style="height: 1085px;">
    <table style="border:none" class="table noboderall table-sm">
      <tbody>
        <tr>
          <td style="font-size:9;text-align: left;padding-bottom: 8px;">BMW授权经销商</td>
          <td style="border:none;text-align:center;font-weight:bold;font-size:15px;">BMW新车销售订购单 </td>
          <td style="font-size:9;text-align: right;padding-bottom: 8px;">北京博瑞宝</td>
        </tr>
        <tr>
          <td>订单号：{{printOrder.OrderId}}</td>
          <td>DMS号：{{printOrder.DMSNo}}</td>
          <td>日期：{{printOrder.OrderDate}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-sm">
      <tbody>
        <tr>
          <td>客户名称</td>
          <td>{{printOrder.Name}}</td>
          <td>客户电话</td>
          <td>{{printOrder.Phone}}</td>
        </tr>
        <tr>
          <td>身份证/代码证</td>
          <td>{{printOrder.IdCard}}</td>
          <td>牌照属性</td>
          <td>{{printOrder.LicenseType}}</td>
        </tr>
        <tr>
          <td>证件地址</td>
          <td>{{printOrder.IdAddress}}</td>
          <td>客户性质</td>
          <td>{{printOrder.CustType}}</td>
        </tr>
      </tbody>
    </table>
    <div style="padding:8px;">一、订购车型、数量及价款</div>
    <div>
    </div>
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th style="width: 410px;" colspan="3">车型名称</th>
          <th>车身颜色</th>
          <th>指导价（元）</th>
          <th>销售价（元）</th>
          <th>订金（元）</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3">{{printOrder.CarType}}</td>
          <td>{{printOrder.CarColor}}</td>
          <td class="textright">{{printOrder.GuidePrice | numberSeparator}}</td>
          <td class="textright">{{printOrder.SalePrice | numberSeparator}}</td>
          <td class="textright" rowspan="2" style="font-size:13px;font-weight:bold;">{{printOrder.Deposit |
            numberSeparator}}</td>
        </tr>
        <tr>
          <td>车架号码</td>
          <td>{{printOrder.Vinno}}</td>
          <td>内饰颜色</td>
          <td>{{printOrder.CarTrim}}</td>
          <td>车辆状态</td>
          <td>{{printOrder.CarStatus}}</td>
        </tr>
        <tr>
          <td>个性配置</td>
          <td colspan="6">{{printOrder.SelfConfig}}</td>
        </tr>
        <tr>
          <td>优惠金额</td>
          <td class="textright">{{printOrder.Discount}}</td>
          <td>订金金额（大写）</td>
          <td class="textleft" colspan="4">{{chineseMoney}}</td>
        </tr>
      </tbody>
    </table>

    <div style="padding:8px;font-weight: bold">购买上述车辆客户自愿接受以下增值消费服务项目</div>

    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th>项目</th>
          <th>商品或服务产品</th>
          <th>价格（元）</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of serviceItem1">
          <td class="textcenter">{{item.itemName}}</td>
          <td class="textcenter">{{item.service}}</td>
          <td class="textright">{{item.price | numberSeparator}}</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered table-sm">
      <tbody>
        <tr *ngFor="let item of htmlTd">
          <td class="textcenter">{{item.itemName1}}</td>
          <td class="textright">{{item.price1 | numberSeparator}}</td>
          <td class="textcenter">{{item.itemName2}}</td>
          <td class="textright">{{item.price2 | numberSeparator}}</td>
          <td class="textcenter">{{item.itemName3}}</td>
          <td class="textright">{{item.price3 | numberSeparator}}</td>
        </tr>
        <tr>
          <td colspan="2">增值预估费用合计金额（小写）</td>
          <td class="textright" colspan="4">{{printOrder.PredictFee | numberSeparator}}</td>
        </tr>
      </tbody>
    </table>


    <div style="padding:8px;font-weight: bold">赠送商品或服务产品</div>
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th class="textcenter">项目</th>
          <th class="textcenter">商品或服务产品</th>
          <th class="textcenter">项目</th>
          <th class="textcenter">商品或服务产品</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of htmlGiveTd">
          <td class="textcenter">{{item.itemName1}}</td>
          <td class="textcenter">{{item.service1}}</td>
          <td class="textcenter">{{item.itemName2}}</td>
          <td class="textcenter">{{item.service2}}</td>
        </tr>
      </tbody>
    </table>
    <div style="padding:8px;">二、交付日期、地点、履行方式、付款方式</div>

    <table class="table noboder table-sm">
      <tbody>
        <tr>
          <td colspan="2">交付日期：{{printOrder.PreCarDate}}</td>
          <td colspan="2">交车地点：{{printOrder.TakeCarSite}}</td>
          <td colspan="2">联系电话：{{printOrder.TakePhone}}</td>
        </tr>
        <tr *ngIf="printOrder.PickCarType=='客户自提'">
          <td colspan="6">提车方式：客户自提</td>
        </tr>
        <tr *ngIf="printOrder.PickCarType=='客户授权'">
          <td colspan="2">提车方式：客户授权</td>
          <td colspan="2">接车人：{{printOrder.PickCarMan}}</td>
          <td colspan="2">接车电话：{{printOrder.PickCarMobile}}</td>
        </tr>

        <tr>
          <td>付款方式：{{printOrder.PayType}}</td>
          <td colspan="5"></td>
        </tr>
        <tr *ngIf="printOrder.PayType=='现车付款'">
          <td colspan="6" class="longtext">客户在签订本订单后 {{printOrder.Days1}} 日内支付合同内余款。预收余款： 元，款到释放车。 </td>
        </tr>
        <tr *ngIf="printOrder.PayType=='订单车辆付款'">
          <td colspan="6" class="longtext">客户在接到到货通知后 {{printOrder.Days2}} 日内支付合同内余款。预收余款： 元，款到释放车。</td>
        </tr>
        <tr *ngIf="printOrder.PayType=='分期付款'">
          <td colspan="2">融资机构：{{printOrder.FinaceCompany}}</td>
          <td colspan="2">首付：{{printOrder.FirstFee | numberSeparator}}%</td>
          <td colspan="2">分期: {{printOrder.Stages}}</td>
        </tr>
        <tr *ngIf="printOrder.PayType=='分期付款'">
          <td colspan="6" class="longtext">首付交款时间：金融机构批准放贷 {{printOrder.Days3}} 个工作日内，余款到账释放车辆。</td>
        </tr>
      </tbody>
    </table>

    <p style="font-size:8px;">
      注：以下条款请客户务必仔细阅读，并签字认可 <br>
      1.实际交车时间按供方所订车辆到车时间为准。供方确认具体交货日期后，将立即以电话、短信、邮件等形式通知买方，买方接到通知后须于五个工作日内提车。 <br>
      2.车辆未交付或交付时，若遇国家政策或生产厂方价格调整，则本定单车辆销售价做相应调整。 <br>
      3.供方承诺提供的车辆享有厂家质量保证，所有质量问题按厂方质保条款处理。需方对所购车汽车的外观颜色，规格，质量有异议的应在验车当场提出异议，否则视为供方交付的汽车均符合本协议的要求。<br>
      4.如买方以旧车置换方式购车，所置换之旧车手续须符合厂房及车管所的相关标准要求，否则此定单视为无效。 <br>
      5.每份定单限订一辆BMW系列轿车。 <br>
      6.本订购单全部消费项目属于乙方自愿消费，无强制消费项目。 <br>
      7.本店将按照本订购单约定项目为乙方提供增值项目。 <br>
      8.本定单内容如有涂改、手写添加，则本定单视为无效。 <br>
      9.本定单加盖供方业务章、财务章和客户盖章、签字后有效，不另开收据。 <br>
      10.本定单一式四联：财务（第一联）、销售计划（第二联）、销售顾问（第三联）、客户（第四联） <br>
      友情提示：******客户交纳的钱款必须直接付至公司财务部，并保留好相关凭证！！！非经本公司盖章及签署，本订购单不生效！！！******<br>
      9.买方须向供方交付不少于销售价格5%的定金，并在车辆具备交付条件5日内提车。如买方因故违约无法购车，扣除全部定金作为违约金。 <br>
      10.本人在此同意已向宝马公司提供的个人信息可由宝马公司及宝马授权经销商共享,并可由宝马公司及宝马授权经销商用于其商业活动,包括但不限于与本人联系。宝马公司系指宝马集团之企业,包括但不限于宝马(中国)汽车贸易有限公司和华晨宝马汽车有限公司。宝马公司保证所有您的个人信息都将按照隐私保护的法律法规进行处理。<br>
      <br>
      <span style="display:inline-block;margin-right:150px;"><strong> 销售顾问确认已将此客户信息录入DMS系统</strong> </span> <strong>本人已认真阅读并同意上述内容及条款
      </strong> <br>
      <span style="display:inline-block;margin-right:100px;">销售顾问签名：</span><span style="display:inline-block;margin-right:100px;">客户签名：</span><span
        style="display:inline-block;margin-right:100px;">销售经理签名：</span>财务签名：<br>
      <span style="display:inline-block;margin-right:100px;">（销售部盖章）</span><span style="display:inline-block;margin-right:260px;">（客户盖章）</span>（财务盖章）<br>
      <br>
      北京博瑞宝汽车销售服务有限公司<br>
      开户行：工商银行马家堡支行 地址：丰台区西罗园南里44号 87277496 <span style="display:inline-block;margin-left:160px;"><strong> {{pagename}}</strong></span>
      <br>
      账号：0200049709004604634 税号：91110106802237288W<br>
    </p>

  </div>
</div>
