<div class="row">
  <div class="col-md-12">
    <ba-card [title]="title" class="card-primary" baCardClass="with-scroll">
      <div style="margin-bottom: 5px;">
        <div class="row">
          <div class="col-3">
            <search-input (searchClick)="onSearch($event)"></search-input>
          </div>
          <div class="col-1">
            <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
              aria-controls="collapseExample">
              高级查询
            </a>
          </div>

          <div class="col-8">
            <div class="btn-group pull-right margin8" role="group" aria-label="Basic example">
              <button (click)="getDataList()" type="button" class="btn btn-info btn-sm">
                    <i class="fa fa-refresh" aria-hidden="true"></i> 刷新</button>
              <button *ngIf="canAdd" (click)="onCreate()" type="button" class="btn btn-info btn-sm">
                <i class="fa fa-refresh" aria-hidden="true"></i> 新增{{title}}</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <app-search-form [formView]="searchview" (searchClick)="onSearchAll($event)"></app-search-form>
              </div>
            </div>
          </div>
        </div>

        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
        <div style="overflow-x:auto;width: 100%;white-space: nowrap;">
          <ng2-smart-table [settings]="newSettings" [source]="source" (rowSelect)="onSelected($event)" (edit)="onEdit($event)"
            (delete)="onDelete($event)">
          </ng2-smart-table>
        </div>
      </div>

      <ngb-tabset>
        <ngb-tab *ngFor="let view of subViewName" [title]="view.Title">
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col-md-12">
                <app-show-form [formView]="view" [mainTableID]="mainTableID"></app-show-form>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </ba-card>
  </div>
</div>
