<div class="row">
  <div class="col-md-12">
    <ba-card [title]="title" class="card-primary" baCardClass="with-scroll">
      <div style="margin-bottom: 5px;">
        <div class="row">
          <div class="col-3">
            <search-input (searchClick)="onSearch($event)"></search-input>
          </div>
          <div class="col-1">
            <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
              aria-controls="collapseExample">
              高级查询
            </a>
          </div>

          <div class="col-8">
            <div class="btn-group pull-right margin8" role="group" aria-label="Basic example">
              <button (click)="getDataList()" type="button" class="btn btn-info btn-sm">
                <i class="fa fa-refresh" aria-hidden="true"></i> 刷新</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <app-search-form [formView]="searchview" (searchClick)="onSearchAll($event)"></app-search-form>
              </div>
            </div>
          </div>
        </div>

        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
        <div style="overflow-x:auto;width: 100%;white-space: nowrap;">
          <ng2-smart-table [settings]="newSettings" [source]="source" (rowSelect)="onSelected($event)" (edit)="onEdit($event)"
            (delete)="onDelete($event)">
          </ng2-smart-table>
          <div style="color: blue;" [class.total]="totalRecord > 10">总记录：{{totalRecord}}</div>
        </div>
      </div>

      <ngb-tabset>
        <ngb-tab *ngFor="let view of subViewName" [title]="view.Title">
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col-md-12">
                <app-show-form [formView]="view" [mainTableID]="mainTableID"></app-show-form>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </ba-card>
  </div>
</div>

<div style="display:none;" id="printDiv">
  <div *ngFor="let pagename of printSet" style="margin-bottom:2px;">
    <table style="border:none" class="table noboderall table-sm">
      <tbody>
        <tr>
          <td style="font-size:9px;text-align: left;">BMW授权经销商</td>
          <td style="font-size:18px;text-align: center;font-weight: bold">销售交款明细单</td>
          <td style="font-size:9px;text-align: right;">北京博瑞宝</td>
        </tr>
      </tbody>
    </table>
    <p style="text-align:left">开票日期：{{carsale.InvoiceDate}}</p>

    <table class="table nowarptable table-bordered table-sm">
      <tbody>
        <tr>
          <td style="width:30px;" rowspan="3">客户信息</td>
          <td>开票名称</td>
          <td class="valueText">{{customer.InvoiceName}}</td>
          <td>交款人姓名</td>
          <td class="valueText">{{customer.LinkMan}}</td>
        </tr>
        <tr>
          <td>身份证号/组织机构</td>
          <td class="valueText">{{customer.InvoiceCode}}</td>
          <td>DMS联系电话</td>
          <td class="valueText">{{customer.Phone}}</td>
        </tr>
        <tr>
          <td>地址信息</td>
          <td class="valueText" colspan="3">{{customer.Address}}</td>
        </tr>

        <tr>
          <td style="width:30px;" rowspan="2">车型信息</td>
          <td>车型</td>
          <td class="valueText">{{carinfo.CarType}}</td>
          <td>厂家指导价</td>
          <td class="valueText">{{carinfo.GuidePrice | numberSeparator}}</td>
        </tr>
        <tr>
          <td>17位车架号</td>
          <td class="valueText">{{carinfo.Vinno}}</td>
          <td>外观颜色/内饰</td>
          <td class="valueText">{{carinfo.CarColor}}/{{carinfo.CarTrim}}</td>
        </tr>

        <tr>
          <td style="width:30px;" rowspan="3">购买信息</td>
          <td>购买性质</td>
          <td class="valueText">{{carsale.BuyType}}</td>
          <td>购买资质</td>
          <td class="valueText">{{carsale.BuyLicense}}</td>
        </tr>
        <tr>
          <td>客户属性</td>
          <td class="valueText">{{carsale.CustAttr}}</td>
          <td>付款方式</td>
          <td class="valueText">{{carsale.PayType}}</td>
        </tr>
        <tr>
          <td>保险公司</td>
          <td class="valueText">{{carsale.InsureCompany}}</td>
          <td><strong>优惠金额/点位</strong></td>
          <td class="valueText">{{carsale.Discount}}</td>
        </tr>

        <tr>
          <td style="height:20px;line-height:20px;width:30px;" rowspan="12">付款信息单位：（元）</td>
          <td>新车款金额</td>
          <td class="valueText">{{carsale.NewCarFee | numberSeparator}}</td>
          <td>分期首付款金额</td>
          <td class="valueText">{{carsale.FirstFee | numberSeparator}}</td>
        </tr>
        <tr>
          <td>保险费金额</td>
          <td class="valueText">{{carsale.InsureFee | numberSeparator}}</td>
          <td>购置税金额</td>
          <td class="valueText">{{carsale.BuyTaxFee | numberSeparator}}</td>
        </tr>
        <tr>
          <td>金融服务费金额</td>
          <td class="valueText">{{carsale.FinanceSerFee | numberSeparator}}</td>
          <td>装饰费金额</td>
          <td class="valueText">{{carsale.DecorateFee | numberSeparator}}</td>
        </tr>

        <tr>
          <td>交车综合服务金额</td>
          <td class="valueText">{{carsale.TakeAllFee | numberSeparator}}</td>
          <td>安心服务费金额</td>
          <td class="valueText">{{carsale.TakeCareFee | numberSeparator}}</td>
        </tr>

        <tr>
          <td>贴心服务费金额</td>
          <td class="valueText">{{carsale.IntimateFee | numberSeparator}}</td>
          <td>玻璃保障服务费金额</td>
          <td class="valueText">{{carsale.GlassSerFee | numberSeparator}}</td>
        </tr>
        <tr>
          <td>刷卡费金额</td>
          <td class="valueText">{{carsale.CardCashFee | numberSeparator}}</td>
          <td>其他金额</td>
          <td class="valueText">{{carsale.OtherFee | numberSeparator}}</td>
        </tr>
        <tr>
          <td>备注说明</td>
          <td class="valueText" colspan="3">{{carsale.Remark}}</td>
        </tr>
        <tr>
          <td><strong>应收金额总计</strong></td>
          <td class="valueText">{{carsale.ShouldAllFee | numberSeparator}}</td>
          <td><strong>开票金额</strong></td>
          <td class="valueText">{{carsale.InvoiceFee | numberSeparator}}</td>
        </tr>

        <tr>
          <td>减：已付订金金额</td>
          <td class="valueText">{{carsale.Deposit | numberSeparator}}</td>
          <td>旧车置换金额</td>
          <td class="valueText">{{carsale.OldChangeFee | numberSeparator}}</td>
        </tr>

        <tr>
          <td>金融分期尾款金额</td>
          <td class="valueText">{{carsale.LastFee | numberSeparator}}</td>
          <td>其他金额</td>
          <td class="valueText">{{carsale.OtherFee2 | numberSeparator}}</td>
        </tr>

        <tr>
          <td><strong>实收金额总计</strong></td>
          <td class="valueText" colspan="3">{{carsale.RealAllFee | numberSeparator}}</td>
        </tr>
        <tr>
          <td><strong>大写金额</strong></td>
          <td class="valueText" colspan="3">{{chineseMoney}}</td>
        </tr>
      </tbody>
    </table>

    <p>
      <span style="display:inline-block;margin-right:200px;">客户签名：</span><span style="display:inline-block;margin-right:200px;">销售顾问：</span><span
        style="display:inline-block;">销售审核：</span><br><br>
      <span style="display:inline-block;margin-right:200px;">财务审核：</span><span style="display:inline-block;margin-right:200px;">销售经理：</span><span
        style="display:inline-block;">总经理：</span><br><br>
      <span style="font-size:9px;">注: 1、我店承担消费第一笔刷卡费用，其余部分由客户负担刷卡手续费, 每笔50元。2、以上车价外增值服务消费为客户自愿，无强制消费。</span> <br>
      <span style="display:inline-block;margin-right:150px;font-size:8px;"><strong> 销售顾问确认已将此客户信息录入DMS系统</strong>
      </span>
    </p>
    <p>
      ------------------------------------------------------------------------------------------------------------------------
    </p>
    <p style="text-align:center;font-size: 18px;font-weight: bold">销售出库单</p>
    <p style="text-align:right;margin-top:-20px;">日期：{{carsale.InvoiceDate}}</p>

    <table class="table nowarptable table-bordered table-sm">
      <tbody>
        <tr>
          <td class="valueText">车型</td>
          <td class="valueText">颜色</td>
          <td class="valueText">配置</td>
          <td class="valueText">车架号</td>
          <td class="valueText">数量（辆）</td>
          <td class="valueText">销售金额</td>
        </tr>
        <tr>
          <td class="valueText">{{carinfo.CarType}}</td>
          <td class="valueText">{{carinfo.CarColor}}</td>
          <td class="valueText">{{carinfo.CarConfig}}</td>
          <td class="valueText">{{carinfo.Vinno}}</td>
          <td class="valueText">壹</td>
          <td class="valueText">{{carsale.NewCarFee | numberSeparator}}</td>
        </tr>
        <tr>
          <td colspan="2">备注</td>
          <td class="valueText" colspan="4">{{carsale.Remark2}}</td>
        </tr>
      </tbody>
    </table>

    <p style="margin-top:5px;text-align:center;">
      <span style="display:inline-block;margin-right:200px;">销售经理：</span><span style="display:inline-block;margin-right:200px;">销售计划：</span><span
        style="display:inline-block;">销售顾问：</span><br>
    </p>

    <table class="table table-bordered table-sm">
      <tbody>
        <tr>
          <td rowspan="3"><strong>赠送批准明细</strong></td>
          <td>装饰费</td>
          <td style="width:20%" class="valueText">{{carsale.ZhuangxFee | numberSeparator}}</td>
          <td>汽油费</td>
          <td style="width:20%" class="valueText">{{carsale.GasFee | numberSeparator}}</td>
        </tr>
        <tr>
          <td>保险费</td>
          <td style="width:20%" class="valueText">{{carsale.BaoxianFee | numberSeparator}}</td>
          <td>维修费</td>
          <td style="width:20%" class="valueText">{{carsale.MaintainFee | numberSeparator}}</td>
        </tr>
        <tr>
          <td>佣金费</td>
          <td style="width:20%" class="valueText">{{carsale.Commission | numberSeparator}}</td>
          <td>其他</td>
          <td style="width:20%" class="valueText">{{carsale.OtherFee3 | numberSeparator}}</td>
        </tr>
      </tbody>
    </table>
    <p style="text-align:right"><strong> {{pagename}}</strong></p>

  </div>
</div>

<div style="display:none;" id="printDivPart">
  <p style="text-align:right;font-size: 10px;">北京博瑞宝</p>
  <p style="text-align:center;font-size: 18px;font-weight: bold">BMW精品装饰明细单</p>
  <p style="text-align:right;margin-top:-10px;">日期：{{carsale.InvoiceDate}}</p>

  <table class="table table-bordered table-sm" style="margin-bottom:15px;">
    <tbody>
      <tr>
        <td class="valueText">客户名称</td>
        <td>{{customer.Name}}</td>
        <td class="valueText">联系人</td>
        <td>{{customer.LinkMan}}</td>
        <td class="valueText">电话</td>
        <td>{{customer.Phone}}</td>
      </tr>
      <tr>
        <td class="valueText">车架号</td>
        <td>{{carinfo.Vinno}}</td>
        <td class="valueText">车型</td>
        <td>{{carinfo.CarType}}</td>
        <td class="valueText">颜色</td>
        <td>{{carinfo.CarColor}}</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered table-sm ">
    <tbody>
      <tr>
        <td class="valueText">分类</td>
        <td class="valueText">项目</td>
        <td class="valueText">数量</td>
        <td class="valueText">价格</td>
      </tr>
      <tr *ngFor="let item of partItem">
        <td class="valueText">{{item.ItemType}}</td>
        <td class="valueText">{{item.ItemName}}</td>
        <td class="textright">{{item.Count}}</td>
        <td class="textright">{{item.Price | numberSeparator}}</td>
      </tr>
      <tr>
        <td class="valueText" colspan="3">合计</td>
        <td class="textright">{{partAmount | numberSeparator }}</td>
      </tr>
    </tbody>
  </table>

  <p style="margin-top:15px;text-align:center;">
    <span style="display:inline-block;margin-right:200px;">销售经理：</span><span style="display:inline-block;margin-right:200px;">销售计划：</span><span
      style="display:inline-block;">销售顾问：</span><br><br>
  </p>
  <p style="margin-top:15px;text-align:right;">
    <span style="font-size:9px;">第一联：财务收款留存 &nbsp;&nbsp;&nbsp;&nbsp; 第二联：精品部安装使用 &nbsp;&nbsp;&nbsp;&nbsp;第三联：销售档案留存
    </span> <br>
  </p>
</div>
