<div class="row">
    <div class="col-md-12">
        <ba-card [title]="title" class="card-primary" baCardClass="with-scroll">
            <div>
                <div class="row">
                    <div class="col-3">
                        <search-input (searchClick)="onSearch($event)"></search-input>
                    </div>

                    <div class="col-9">
                        <date-query></date-query>
                    </div>
                </div>
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
                <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
            </div>
        </ba-card>
    </div>
</div>