<div class="bill">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
  <div class="row">
    <div class="col-md-12 text-center title">
      销售交款明细单
    </div>
  </div>
  <div>
    <table class="table table-bordered table-sm">
      <tbody>
        <tr>
          <td valign="middle" rowspan="3">客户信息</td>
          <td>开票名称</td>
          <td><input readonly [value]="customer.InvoiceName" type="text" class="form-control inputline"></td>
          <td>交款人姓名</td>
          <td><input readonly [value]="customer.LinkMan" type="text" class="form-control inputline"></td>
        </tr>
        <tr>
          <td>身份证号/组织机构</td>
          <td><input readonly [value]="customer.InvoiceCode" type="text" class="form-control inputline"></td>
          <td>DMS联系电话</td>
          <td><input readonly [value]="customer.Phone" type="text" class="form-control inputline"></td>
        </tr>
        <tr>
          <td>地址信息</td>
          <td colspan="3"><input readonly [value]="customer.Address" type="text" class="form-control inputline"></td>
        </tr>

        <tr>
          <td valign="middle" rowspan="2">车型信息</td>
          <td>车型</td>
          <td><input readonly [value]="carinfo.CarType" type="text" class="form-control inputline"></td>
          <td>厂家指导价</td>
          <td><input readonly [value]="carinfo.GuidePrice | numberSeparator" type="text" class="form-control inputline"></td>
        </tr>
        <tr>
          <td>17位车架号</td>
          <td><input readonly [value]="carinfo.Vinno" type="text" class="form-control inputline"></td>
          <td>外观颜色/内饰</td>
          <td><input readonly value="{{carinfo.CarColor}}/{{carinfo.CarTrim}}" type="text" class="form-control inputline"></td>
        </tr>

        <tr>
          <td valign="middle" rowspan="3">购买信息</td>
          <td><span class="reqmark">*</span>购买性质</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.BuyType" type="text" class="form-control"></td>
          <td><span class="reqmark">*</span>购买资质</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.BuyLicense" type="text" class="form-control"></td>
        </tr>
        <tr>
          <td><span class="reqmark">*</span>客户属性</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.CustAttr" type="text" class="form-control"></td>
          <td><span class="reqmark">*</span>付款方式</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.PayType" type="text" class="form-control"></td>
        </tr>
        <tr>
          <td><span class="reqmark">*</span>保险公司</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.InsureCompany" type="text" class="form-control"></td>
          <td><strong><span class="reqmark">*</span>优惠金额</strong></td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.Discount" type="number" class="form-control"></td>
        </tr>

        <tr>
          <td valign="middle" style="height:20px;line-height:20px" rowspan="12">付款信息单位：（元）</td>
          <td><span class="reqmark">*</span>新车款金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.NewCarFee" type="number" (change)="priceChange()"
              class="form-control"></td>
          <td>分期首付款金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.FirstFee" type="number" (change)="priceChange()"
              class="form-control"></td>
        </tr>
        <tr>
          <td>保险费金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.InsureFee" type="number" (change)="priceChange()"
              class="form-control"></td>
          <td>购置税金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.BuyTaxFee" type="number" (change)="priceChange()"
              class="form-control"></td>
        </tr>
        <tr>
          <td>金融服务费金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.FinanceSerFee" type="number" (change)="priceChange()"
              class="form-control"></td>
          <td>装饰费金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.DecorateFee" type="number" (change)="priceChange()"
              class="form-control"></td>
        </tr>

        <tr>
          <td>交车综合服务金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.TakeAllFee" type="number" (change)="priceChange()"
              class="form-control"></td>
          <td>安心服务费金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.TakeCareFee" type="number" (change)="priceChange()"
              class="form-control"></td>
        </tr>

        <tr>
          <td>贴心服务费金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.IntimateFee" type="number" (change)="priceChange()"
              class="form-control"></td>
          <td>玻璃保障服务费金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.GlassSerFee" type="number" (change)="priceChange()"
              class="form-control"></td>
        </tr>
        <tr>
          <td>刷卡费金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.CardCashFee" type="number" (change)="priceChange()"
              class="form-control"></td>
          <td>其他金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.OtherFee" type="number" (change)="priceChange()"
              class="form-control"></td>
        </tr>
        <tr>
          <td>备注说明</td>
          <td colspan="3"><input [class.inputline]="!isEnable" [(ngModel)]="carsale.Remark" type="text" class="form-control"></td>
        </tr>
        <tr>
          <td><strong>应收金额总计</strong></td>
          <td>{{carsale.ShouldAllFee | numberSeparator}}</td>
          <td><strong>开票金额</strong></td>
          <td>{{carsale.InvoiceFee | numberSeparator}}</td>
        </tr>

        <tr>
          <td>减：已付订金金额</td>
          <td>{{carsale.Deposit | numberSeparator}}</td>
          <td>旧车置换金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.OldChangeFee" (change)="priceChange()" type="number"
              class="form-control"></td>
        </tr>

        <tr>
          <td>金融分期尾款金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.LastFee" (change)="priceChange()" type="number"
              class="form-control"></td>
          <td>其他金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.OtherFee2" (change)="priceChange()" type="number"
              class="form-control"></td>
        </tr>

        <tr>
          <td><strong>实收金额总计</strong></td>
          <td colspan="3">{{carsale.RealAllFee | numberSeparator}}</td>
        </tr>
        <tr>
          <td><strong>大写金额</strong></td>
          <td colspan="3"><input type="text" [value]="chineseMoney" readonly class="form-control inputline"></td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="row">
    <div class="col-md-12 text-center title">
      销售出库单
    </div>
  </div>
  <div>
    <table class="table table-bordered table-sm">
      <tbody>
        <tr>
          <td>车型</td>
          <td>颜色</td>
          <td>配置</td>
          <td>车架号</td>
          <td>数量（辆）</td>
          <td>销售金额</td>
        </tr>
        <tr>
          <td>{{carinfo.CarType}}</td>
          <td>{{carinfo.CarColor}}</td>
          <td>{{carinfo.CarConfig}}</td>
          <td>{{carinfo.Vinno}}</td>
          <td>壹</td>
          <td>{{carinfo.WholePrice | numberSeparator}}</td>
        </tr>
        <tr>
          <td colspan="2">备注</td>
          <td colspan="4"><input [class.inputline]="!isEnable" [(ngModel)]="carsale.Remark2" type="text" class="form-control"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="row">
    <div class="col-md-4">
      <label for="carsale.value" class="text-right col-form-label">销售经理：</label>
      <div class="col-md-8">
        <input type="text" class="form-control" [(ngModel)]="carsale.Remark">
      </div>
    </div>
    <div class="col-md-4">
      <label for="carsale.value" class="text-right col-form-label">销售计划：</label>
      <div class="col-md-8">
        <input type="text" class="form-control" [(ngModel)]="carsale.Remark">
      </div>
    </div>
    <div class="col-md-4">
      <label for="carsale.value" class="text-right col-form-label">销售顾问：</label>
      <div class="col-md-8">
        <input type="text" class="form-control" [(ngModel)]="carsale.Remark">
      </div>
    </div>
  </div> -->

  <div>
    <table class="table table-bordered table-sm">
      <tbody>
        <tr>
          <td rowspan="3"><strong>赠送批准明细</strong></td>
          <td>装饰费</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.ZhuangxFee" type="number" class="form-control"></td>
          <td>汽油费</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.GasFee" type="number" class="form-control"></td>
        </tr>
        <tr>
          <td>保险费</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.BaoxianFee" type="number" class="form-control"></td>
          <td>维修费</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.MaintainFee" type="number" class="form-control"></td>
        </tr>
        <tr>
          <td>佣金费</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.Commission" type="number" class="form-control"></td>
          <td>其他</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.OtherFee3" type="number" class="form-control"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-md-9 btn-group">
      <button *ngIf="isEnable" type="button" (click)="onConfirm()" class="btn btn-info">{{ isSaved ?
        '正在保存...':'确认保存'}}</button>
      <button type="button" (click)="onBack()" class="btn btn-warning">返回列表</button>
    </div>
  </div>

</div>
