<div class="bill">
  <div class="row">
    <div class="col-md-12 text-center title">
      销售交款明细单
    </div>
  </div>
  <div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
    <table class="table table-bordered table-sm">
      <tbody>
        <tr>
          <td valign="middle" rowspan="3">客户信息</td>
          <td>开票名称</td>
          <td><input readonly [value]="customer.InvoiceName" type="text" class="form-control inputline"></td>
          <td>交款人姓名</td>
          <td><input readonly [value]="customer.LinkMan" type="text" class="form-control inputline"></td>
        </tr>
        <tr>
          <td>身份证号/组织机构</td>
          <td><input readonly [value]="customer.InvoiceCode" type="text" class="form-control inputline"></td>
          <td>DMS联系电话</td>
          <td><input readonly [value]="customer.Phone" type="text" class="form-control inputline"></td>
        </tr>
        <tr>
          <td>地址信息</td>
          <td colspan="3"><input readonly [value]="customer.Address" type="text" class="form-control inputline"></td>
        </tr>

        <tr>
          <td valign="middle" rowspan="2">车型信息</td>
          <td>车型</td>
          <td><input readonly [value]="carinfo.CarType" type="text" class="form-control inputline"></td>
          <td>指导价</td>
          <td><input readonly [value]="carinfo.GuidePrice | numberSeparator" type="text" class="form-control inputline"></td>
        </tr>
        <tr>
          <td>17位车架号</td>
          <td><input readonly [value]="carinfo.Vinno" type="text" class="form-control inputline"></td>
          <td>外观颜色/内饰</td>
          <td><input readonly value="{{carinfo.CarColor}}/{{carinfo.CarTrim}}" type="text" class="form-control inputline"></td>
        </tr>

        <tr>
          <td valign="middle" rowspan="3">购买信息</td>
          <td><span class="reqmark">*</span>购买性质</td>
          <td>
            <select [class.inputline]="!isEnable" [(ngModel)]="carsale.BuyType">
              <option value="">--请选择--</option>
              <option [value]="option.text" *ngFor="let option of gmxz">
                {{ option.text }}
              </option>
            </select>
          </td>
          <td><span class="reqmark">*</span>购买资质</td>
          <td>
            <select [class.inputline]="!isEnable" (change)="onBuyLicense()" [(ngModel)]="carsale.BuyLicense">
              <option value="">--请选择--</option>
              <option [value]="option.text" *ngFor="let option of gmzz">
                {{ option.text }}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td><span class="reqmark">*</span>客户属性</td>
          <td>
            <input readonly [value]="customer.CustType" type="text" class="form-control inputline">
          </td>
          <td><span class="reqmark">*</span>付款方式</td>
          <td>
            <select [class.inputline]="!isEnable" [(ngModel)]="carsale.PayType">
              <option value="">--请选择--</option>
              <option [value]="option.text" *ngFor="let option of fkfs">
                {{ option.text }}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td><span class="reqmark">*</span>保险公司</td>
          <td>
            <select [class.inputline]="!isEnable" [(ngModel)]="carsale.InsureCompany">
              <option value="">--请选择--</option>
              <option [value]="option.text" *ngFor="let option of bxgs">
                {{ option.text }}
              </option>
            </select>
          </td>
          <td><strong><span class="reqmark">*</span>优惠金额</strong></td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.Discount" type="number" min="0" class="form-control"></td>
        </tr>

        <tr>
          <td valign="middle" style="height:20px;line-height:20px" rowspan="12">付款信息单位：（元）</td>
          <td><span class="reqmark">*</span>新车款金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.NewCarFee" type="number" min="0" (change)="priceChange()"
              class="form-control"></td>
          <td>分期首付款</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.FirstFee" type="number" min="0" max="100" (change)="priceChange()"
              class="form-control">%</td>
        </tr>
        <tr>
          <td>保险费金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.InsureFee" type="number" min="0" (change)="priceChange()"
              class="form-control"></td>
          <td>购置税金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.BuyTaxFee" type="number" min="0" (change)="priceChange()"
              class="form-control"></td>
        </tr>
        <tr>
          <td>金融服务费金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.FinanceSerFee" type="number" min="0" (change)="priceChange()"
              class="form-control"></td>
          <td>装饰费金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.DecorateFee" type="number" min="0" (change)="priceChange()"
              class="form-control"></td>
        </tr>

        <tr>
          <td>交车综合服务金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.TakeAllFee" type="number" min="0" (change)="priceChange()"
              class="form-control"></td>
          <td>安心服务费金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.TakeCareFee" type="number" min="0" (change)="priceChange()"
              class="form-control"></td>
        </tr>

        <tr>
          <td>贴心服务费金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.IntimateFee" type="number" min="0" (change)="priceChange()"
              class="form-control"></td>
          <td>玻璃保障服务费金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.GlassSerFee" type="number" min="0" (change)="priceChange()"
              class="form-control"></td>
        </tr>
        <tr>
          <td>刷卡费金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.CardCashFee" type="number" min="0" (change)="priceChange()"
              class="form-control"></td>
          <td>其他金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.OtherFee" type="number" min="0" (change)="priceChange()"
              class="form-control"></td>
        </tr>
        <tr>
          <td>备注说明</td>
          <td colspan="3"><input [class.inputline]="!isEnable" [(ngModel)]="carsale.Remark" type="text" class="form-control"></td>
        </tr>
        <tr>
          <td><strong>应收金额总计</strong></td>
          <td>{{carsale.ShouldAllFee | numberSeparator}}</td>
          <td><strong>开票金额</strong></td>
          <td>{{carsale.InvoiceFee | numberSeparator}}</td>
        </tr>

        <tr>
          <td>减：已付订金金额</td>
          <td>{{carsale.Deposit | numberSeparator}}</td>
          <td>旧车置换金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.OldChangeFee" (change)="priceChange()" type="number"
              min="0" class="form-control"></td>
        </tr>

        <tr>
          <td>金融分期尾款金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.LastFee" (change)="priceChange()" type="number"
              min="0" class="form-control"></td>
          <td>其他金额</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.OtherFee2" (change)="priceChange()" type="number"
              min="0" class="form-control"></td>
        </tr>

        <tr>
          <td><strong>实收金额总计</strong></td>
          <td colspan="3">{{carsale.RealAllFee | numberSeparator}}</td>
        </tr>
        <tr>
          <td><strong>大写金额</strong></td>
          <td colspan="3"><input type="text" [value]="chineseMoney" readonly class="form-control inputline"></td>
        </tr>
      </tbody>
    </table>

  </div>

  <div style="padding:8px;font-weight: bold">精品装饰明细</div>
  <button [disabled]="!isEnable" placement="right" (shown)="showPopCarItem()" #pitem="ngbPopover" [ngbPopover]="popContentPartItem"
    popoverTitle="精品装饰列表" type="button" class="btn btn-light btn-sm" container="body">
    <i class="fa fa-pencil" aria-hidden="true"></i> 自费项目</button>
  <button [disabled]="!isEnable" placement="right" (shown)="showPopCarItem()" #pitem2="ngbPopover" [ngbPopover]="popContentPartItem2"
    popoverTitle="精品装饰列表" type="button" class="btn btn-light btn-sm" container="body">
    <i class="fa fa-pencil" aria-hidden="true"></i> 免费项目</button>
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>分类</th>
        <th>来源</th>
        <th>项目</th>
        <th>数量</th>
        <th>价格</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of partItem">
        <td>{{item.ItemType}}</td>
        <td>{{item.Service}}</td>
        <td><input [class.inputline]="!isEnable" [(ngModel)]="item.ItemName" (change)="cacalItem()" type="text" class="form-control"></td>
        <td><input [class.inputline]="!isEnable" [(ngModel)]="item.Count" (change)="cacalItem()" type="text" class="form-control"></td>
        <td><input [class.inputline]="!isEnable" [(ngModel)]="item.Price" (change)="cacalItem()" type="text" class="form-control"></td>
        <td>
          <button *ngIf="isEnable" type="button" (click)="removeItem(item.ItemName)" class="btn btn-warning">删除</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-md-12 text-center title">
      销售出库单
    </div>
  </div>
  <div>
    <table class="table table-bordered table-sm">
      <tbody>
        <tr>
          <td>车型</td>
          <td>颜色</td>
          <td>配置</td>
          <td>车架号</td>
          <td>数量（辆）</td>
          <td>销售金额</td>
        </tr>
        <tr>
          <td>{{carinfo.CarType}}</td>
          <td>{{carinfo.CarColor}}</td>
          <td>{{carinfo.CarConfig}}</td>
          <td>{{carinfo.Vinno}}</td>
          <td>壹</td>
          <td>{{carsale.NewCarFee | numberSeparator}}</td>
        </tr>
        <tr>
          <td colspan="2">备注</td>
          <td colspan="4"><input [class.inputline]="!isEnable" [(ngModel)]="carsale.Remark2" type="text" class="form-control"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="row">
    <div class="col-md-4">
      <label for="carsale.value" class="text-right col-form-label">销售经理：</label>
      <div class="col-md-8">
        <input type="text" class="form-control" [(ngModel)]="carsale.Remark">
      </div>
    </div>
    <div class="col-md-4">
      <label for="carsale.value" class="text-right col-form-label">销售计划：</label>
      <div class="col-md-8">
        <input type="text" class="form-control" [(ngModel)]="carsale.Remark">
      </div>
    </div>
    <div class="col-md-4">
      <label for="carsale.value" class="text-right col-form-label">销售顾问：</label>
      <div class="col-md-8">
        <input type="text" class="form-control" [(ngModel)]="carsale.Remark">
      </div>
    </div>
  </div> -->

  <div>
    <table class="table table-bordered table-sm">
      <tbody>
        <tr>
          <td rowspan="3"><strong>赠送批准明细</strong></td>
          <td>装饰费</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.ZhuangxFee" type="number" min="0" class="form-control"></td>
          <td>汽油费</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.GasFee" type="number" min="0" class="form-control"></td>
        </tr>
        <tr>
          <td>保险费</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.BaoxianFee" type="number" min="0" class="form-control"></td>
          <td>维修费</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.MaintainFee" type="number" min="0" class="form-control"></td>
        </tr>
        <tr>
          <td>佣金费</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.Commission" type="number" min="0" class="form-control"></td>
          <td>其他</td>
          <td><input [class.inputline]="!isEnable" [(ngModel)]="carsale.OtherFee3" type="number" min="0" class="form-control"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-md-9 btn-group">
      <button *ngIf="isEnable" type="button" (click)="onConfirm()" class="btn btn-info">{{ isSaved ?
        '正在保存...':'确认保存'}}</button>
      <button type="button" (click)="onBack()" class="btn btn-warning">返回列表</button>
    </div>
  </div>

</div>

<ng-template #popContentPartItem>
  <a href="javascrpit:void(0)" class="close" (click)='pitem.close()' aria-hidden="true">&times;</a>
  <search-input (searchClick)="onSearchItem($event)"></search-input>
  <ng2-smart-table [settings]="settingsItem" [source]="popCarItemGrid" (userRowSelect)="rowItemClicked($event)">
  </ng2-smart-table>
</ng-template>

<ng-template #popContentPartItem2>
  <a href="javascrpit:void(0)" class="close" (click)='pitem2.close()' aria-hidden="true">&times;</a>
  <search-input (searchClick)="onSearchItem($event)"></search-input>
  <ng2-smart-table [settings]="settingsItem" [source]="popCarItemGrid" (userRowSelect)="rowItem2Clicked($event)">
  </ng2-smart-table>
</ng-template>
